@charset "utf-8";
* {
	margin: 0;
	padding: 0
}
body{
	background-color: #fff;
	font: 12px/1.5 Microsoft YaHei,arial,"\5b8b\4f53";
	/*font:12px/1.5 微软雅黑,arial,宋体 */
	/*宋体 的 unicode "\5b8b\4f53" 编码*/
	color: #666;
}
/*超链接默认样式*/
a{ 
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #F30213;
}
/*项目符号*/
ul,li {
	list-style: none
}
/*图片设置*/
img {
	border: 0;
	vertical-align: middle
}
/*鼠标小手*/
button {
	cursor: pointer
}

/*万能清除 clear*/
.clearfix:after {
	/*visibility: hidden;*/
	
	display: block;
	content: "";
	clear: both;
}

.clearfix {
	*zoom: 1
}

